body {
    text-align: justify;
    background-color: whitesmoke;
    font-family: 'Oswald', 'sans-serif';
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}
    #layout.active #menu {
        left: 150px;
        width: 150px;
    }

    #layout.active .menu-link {
        left: 150px;
    }

.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.card-header{
    background-color: white;
    padding: 10px;
    margin-bottom: 0px;
    border-radius: 0.2em;
    font-weight: 500;
    font-size: 1.2em;
}

.header {
    margin: 0 auto;
    padding: 0 2em;
    color: #333;
    max-width: 800px;
    padding: 2.5em 2em 0;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 500;
    }
     .header h2 {
        font-size: 0.8em;
        font-weight: 300;
        color: black;
        padding: 0;
        margin-top: 0;
    }
.header-container{
    display: flex;
}
.header-container img{
    align-self: center;
    margin-top: 10px;
    margin-left: 10px;
}

.info-cards{
    list-style: none;
    margin-top: 1em;
    margin-bottom: 2em;
}
.row-1{
    display: flex;
    justify-content: center;
}

.slide{
    color: grey;
}

.slide:hover{
    color:#333;
    transition: all .2s ease-in;
}

.list-item{
    margin: 0;
    width: 300px;
    height: 100px;
    border-radius: 0.2em;
    box-shadow: 5px 10px 10px #ccc;
    background-color: white;
}

.list-item2{
    margin: 0 1em 2em;
    width: 300px;
    height: 100px;
    border-radius: 0.2em;
    box-shadow: 5px 10px 10px #ccc;
    background-color: white;
}

.list-item-content{
    margin: 25px 0 0 25px;
}


/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 150px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 150px;
    }

    .menu-link {
        position: fixed;
        left: 150px;
        display: none;
    }

    #layout.active .menu-link {
        left: 150px;
    }
}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    #layout.active {
        position: relative;
        left: 150px;
    }
}
